body {
  background: #f3efe7;
  margin: 0px;
  font-family: 'Petrona', sans-serif;
  color: #465420;
  position: relative;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

@media (max-width: 800px) {
  body {
    box-sizing: border-box;
    height: 400px;
  }

}